
<div class=bgcolor-themeDarker>#004578</div>
<div class=bgcolor-themeDark>#005a9e</div>
<div class=bgcolor-themeDarkAlt>#106ebe</div>
<div class=bgcolor-themePrimary>#0078d7</div>
<div class=bgcolor-themeSecondary>#2b88d8</div>
<div class=bgcolor-themeTertiary>#71afe5</div>
<div class=bgcolor-themeLight>#c7e0f4</div>
<div class=bgcolor-themeLighter>#deecf9</div>
<div class=bgcolor-themeLighterAlt>#eff6fc</div>
<div class=bgcolor-black>#000000</div>
<div class=bgcolor-neutralDark>#212121</div>
<div class=bgcolor-neutralPrimary>#333333</div>
<div class=bgcolor-neutralPrimaryAlt>#3C3C3C</div>
<div class=bgcolor-neutralSecondary>#666666</div>
<div class=bgcolor-neutralSecondaryAlt>#767676</div>
<div class=bgcolor-neutralTertiary>#a6a6a6</div>
<div class=bgcolor-neutralTertiaryAlt>#c8c8c8</div>
<div class=bgcolor-neutralQuaternary>#d0d0d0</div>
<div class=bgcolor-neutralQuaternaryAlt>#dadada</div>
<div class=bgcolor-neutralLight>#eaeaea</div>
<div class=bgcolor-neutralLighter>#f4f4f4</div>
<div class=bgcolor-neutralLighterAlt>#f8f8f8</div>
<div class=bgcolor-white>#ffffff</div>
<div class=bgcolor-yellow>#ffb900</div>
<div class=bgcolor-yellowLight>#fff100</div>
<div class=bgcolor-orange>#d83b01</div>
<div class=bgcolor-orangeLight>#ea4300</div>
<div class=bgcolor-orangeLighter>#ff8c00</div>
<div class=bgcolor-redDark>#a80000</div>
<div class=bgcolor-red>#e81123</div>
<div class=bgcolor-magentaDark>#5c005c</div>
<div class=bgcolor-magenta>#b4009e</div>
<div class=bgcolor-magentaLight>#e3008c</div>
<div class=bgcolor-purpleDark>#32145a</div>
<div class=bgcolor-purple>#5c2d91</div>
<div class=bgcolor-purpleLight>#b4a0ff</div>
<div class=bgcolor-blueDark>#002050</div>
<div class=bgcolor-blueMid>#00188f</div>
<div class=bgcolor-blue>#0078d7</div>
<div class=bgcolor-blueLight>#00bcf2</div>
<div class=bgcolor-tealDark>#004b50</div>
<div class=bgcolor-teal>#008272</div>
<div class=bgcolor-tealLight>#00b294</div>
<div class=bgcolor-greenDark>#004b1c</div>
<div class=bgcolor-green>#107c10</div>
<div class=bgcolor-greenLight>#bad80a</div>
<div class=bgcolor-info>neutralSecondaryAlt</div>
<div class=bgcolor-infoBackground>neutralLighter</div>
<div class=bgcolor-success>green</div>
<div class=bgcolor-successBackground>#dff6dd</div>
<div class=bgcolor-severeWarning>orange</div>
<div class=bgcolor-severeWarningBackground>#fed9cc</div>
<div class=bgcolor-alert>severeWarning</div>
<div class=bgcolor-alertBackground>severeWarningBackground</div>
<div class=bgcolor-warning>neutralSecondaryAlt</div>
<div class=bgcolor-warningBackground>#fff4ce</div>
<div class=bgcolor-error>redDark</div>
<div class=bgcolor-errorBackground>#fde7e9</div>
<div class=bgcolor-contrastBlackDisabled>#00ff00</div>
<div class=bgcolor-contrastWhiteDisabled>#600000</div>
<div class=bgcolor-contrastBlackSelected>#1AEBFF</div>
<div class=bgcolor-contrastWhiteSelected>#37006E</div>