
<div class=textcolor-themeDarker>#004578</div>
<div class=textcolor-themeDark>#005a9e</div>
<div class=textcolor-themeDarkAlt>#106ebe</div>
<div class=textcolor-themePrimary>#0078d7</div>
<div class=textcolor-themeSecondary>#2b88d8</div>
<div class=textcolor-themeTertiary>#71afe5</div>
<div class=textcolor-themeLight>#c7e0f4</div>
<div class=textcolor-themeLighter>#deecf9</div>
<div class=textcolor-themeLighterAlt>#eff6fc</div>
<div class=textcolor-black>#000000</div>
<div class=textcolor-neutralDark>#212121</div>
<div class=textcolor-neutralPrimary>#333333</div>
<div class=textcolor-neutralPrimaryAlt>#3C3C3C</div>
<div class=textcolor-neutralSecondary>#666666</div>
<div class=textcolor-neutralSecondaryAlt>#767676</div>
<div class=textcolor-neutralTertiary>#a6a6a6</div>
<div class=textcolor-neutralTertiaryAlt>#c8c8c8</div>
<div class=textcolor-neutralQuaternary>#d0d0d0</div>
<div class=textcolor-neutralQuaternaryAlt>#dadada</div>
<div class=textcolor-neutralLight>#eaeaea</div>
<div class=textcolor-neutralLighter>#f4f4f4</div>
<div class=textcolor-neutralLighterAlt>#f8f8f8</div>
<div class=textcolor-white>#ffffff</div>
<div class=textcolor-yellow>#ffb900</div>
<div class=textcolor-yellowLight>#fff100</div>
<div class=textcolor-orange>#d83b01</div>
<div class=textcolor-orangeLight>#ea4300</div>
<div class=textcolor-orangeLighter>#ff8c00</div>
<div class=textcolor-redDark>#a80000</div>
<div class=textcolor-red>#e81123</div>
<div class=textcolor-magentaDark>#5c005c</div>
<div class=textcolor-magenta>#b4009e</div>
<div class=textcolor-magentaLight>#e3008c</div>
<div class=textcolor-purpleDark>#32145a</div>
<div class=textcolor-purple>#5c2d91</div>
<div class=textcolor-purpleLight>#b4a0ff</div>
<div class=textcolor-blueDark>#002050</div>
<div class=textcolor-blueMid>#00188f</div>
<div class=textcolor-blue>#0078d7</div>
<div class=textcolor-blueLight>#00bcf2</div>
<div class=textcolor-tealDark>#004b50</div>
<div class=textcolor-teal>#008272</div>
<div class=textcolor-tealLight>#00b294</div>
<div class=textcolor-greenDark>#004b1c</div>
<div class=textcolor-green>#107c10</div>
<div class=textcolor-greenLight>#bad80a</div>
<div class=textcolor-info>neutralSecondaryAlt</div>
<div class=textcolor-infoBackground>neutralLighter</div>
<div class=textcolor-success>green</div>
<div class=textcolor-successBackground>#dff6dd</div>
<div class=textcolor-severeWarning>orange</div>
<div class=textcolor-severeWarningBackground>#fed9cc</div>
<div class=textcolor-alert>severeWarning</div>
<div class=textcolor-alertBackground>severeWarningBackground</div>
<div class=textcolor-warning>neutralSecondaryAlt</div>
<div class=textcolor-warningBackground>#fff4ce</div>
<div class=textcolor-error>redDark</div>
<div class=textcolor-errorBackground>#fde7e9</div>
<div class=textcolor-contrastBlackDisabled>#00ff00</div>
<div class=textcolor-contrastWhiteDisabled>#600000</div>
<div class=textcolor-contrastBlackSelected>#1AEBFF</div>
<div class=textcolor-contrastWhiteSelected>#37006E</div>