<div class="font-su">Font SU</div>
<div class="font-xxl">Font XXL</div>
<div class="font-xl">Font XL</div>
<div class="font-l">Font L</div>
<div class="font-m-plus">Font M Plus</div>
<div class="font-m">Font M</div>
<div class="font-s-plus">Font S Plus</div>
<div class="font-s">Font S</div>
<div class="font-xs">Font XS</div>
<div class="font-mi">Font Mini</div>
<br><hr><br>
<div class="fontSize-su">Font Size 42px</div>
<div class="fontSize-xxl">Font Size 28px</div>
<div class="fontSize-xl">Font Size 21px</div>
<div class="fontSize-l">Font Size 17px</div>
<div class="fontSize-m-plus">Font Size 15px</div>
<div class="fontSize-m">Font Size 14px</div>
<div class="fontSize-s-plus">Font Size 13px</div>
<div class="fontSize-s">Font Size 12px</div>
<div class="fontSize-mi">Font Size 11px</div>
<br><hr><br>
<div class="fontWeight-light">Font Weight Light</div>
<div class="fontWeight-semilight">Font Weight Semilight</div>
<div class="fontWeight-regular">Font Weight Regular</div>
<div class="fontWeight-semibold">Font Weight Semibold</div>
