<h2>Standard Buttons</h2>
<button class="button">
    Button
</button>
<input type="submit" class="button" value="Button">
<a href="?" class="button">
    Button
</a>
<h2>Standard Buttons - Diabled</h2>
<button class="button" disabled>
    Button
</button>
<input type="submit" class="button" value="Button" disabled>
<h2>Primary Button</h2>
<button class="button-prim">
    Button
</button>
<input type="submit" class="button-prim" value="Button">
<a href="?" class="button-prim">
    Button
</a>
<h2>Primary Button - Disabled</h2>
<button class="button-prim" disabled>
    Button
</button>
<input type="submit" class="button-prim" value="Button" disabled>